$orange : rgb(255, 197, 38);
$blue: rgb(36, 60, 76);
$purple: rgb(111, 91, 216);
$gray: rgb(213, 211, 217);
$white: rgb(250, 250, 250);
$black: rgb(25, 26, 36);
$text-gray: rgb(150, 152, 163);
$text-black: rgb(5, 6, 12);
$panel-black: rgb(46, 47, 51);
$seablue: rgb(114, 224, 243);
$panel-head: rgb(74, 74, 75);
$red: rgb(224, 84, 84);
$green: rgb(55, 184, 55);
$span-gray: rgb(240, 238, 238);
$font: 'Encode Sans Semi Expanded', sans-serif;
